html {
  font-size: 62.5%;
}

.activate--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 20rem;
  height: auto;
  padding: 2rem;
  padding-top: 3rem;
}

.activate-heading {
  color: #eee;
  margin-bottom: 2rem;
}

.activate-description {
  font-size: 1.8rem;
  margin-bottom: 5rem;
  color: #aaa;
}

.activate-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
}

.logo-meta {
  width: 25rem;
  height: 25rem;
}

#connect-meta {
  width: 30rem;
  margin-bottom: 6rem;
}

.address {
  font-size: 2rem;
  padding: 2rem;
  color: #aaa;
}

.verified-heading {
  color: #eee;
}

.final-activate-description {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #aaa;
}

.btn.btn-footer-activate {
  margin-bottom: 23.5rem;
  background-color: rgb(162, 246, 218);
}

.btn.btn-footer-activate:hover {
  margin-bottom: 23.5rem;
  background-color: rgb(98, 150, 132);
}
