@media (max-width: 78.5em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 70.5em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 62.5em) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 55em) {
  .hero {
    gap: 5rem;
    padding: 0 4rem;
  }

  .btn-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .item-container {
    width: 100rem;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 37.5%;
  }

  .section-hero {
    padding: 0 0 9.6rem 0;
    text-align: center;
    height: 107rem;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero {
    grid-template-columns: 1fr;
    margin-top: 3.6rem;
    padding: 0 4.8rem;
    text-align: center;
    gap: 6.4rem;
  }

  .btn-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    width: 100%;
    margin: 0 auto;
  }

  .grid--2-cols {
    column-gap: 4.8rem;
  }

  .item-container {
    width: 110rem;
  }
}

@media (max-width: 42.5em) {
  .item-container {
    width: 90rem;
  }
}

@media (max-width: 35em) {
  .nav .nav-btn {
    display: none;
  }

  .section-hero {
    height: 80rem;
  }

  .hero-img {
    width: 100%;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    gap: 4.8rem;
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  .fea-img {
    width: 100%;
  }

  .fea-img-box:nth-child(2) {
    grid-row: 1;
  }

  .fea-img-box:nth-child(6) {
    grid-row: 5;
  }

  .section.section-faq {
    width: 50rem;
    justify-content: center;
    align-items: center;
  }

  .item-container {
    width: 50rem;
    margin: 0 auto;
  }
}
