* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #0e1539;
  overflow-x: hidden;
}

.center-text {
  text-align: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 3.2rem;
}

.logo-text {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #868e96;
  align-items: center;
  justify-content: center;
  gap: 20px;

  /* text-fill: transparent; */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to right, #495057, #ced4da);
}

/* NAV */
.nav {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-icon {
  height: 36px;
  width: 36px;
  fill: #868e96;
  /* fill: url(#MyGradient); */
}

.nav-link:link,
.nav-link:visited,
.nav-icon {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  color: #fff;
}

.nav-link:hover,
.nav-link:active,
.nav-icon:hover {
  fill: #fff;
}

.nav-link.nav-btn {
  padding: 10px 28px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #fcc419;
  color: #444;
}

.nav-btn:hover {
  background-color: #cfa012;
}

/* STICKY NAV */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: hsla(231, 60%, 9%, 0.69);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* HERO SECTION */
.section-hero {
  position: relative;
  padding: 4.8rem 0 9.6rem 0;
  height: 100vh;
}

.hero-little {
  width: 70px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #0e1539;
  background-color: #ced4da;
  background: linear-gradient(to right, #f8e5ac, #eccc6c);
  border-radius: 5px;
  padding: 8px 0;
  text-align: center;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  margin-top: 60px;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #ced4da;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #fcc419;
  color: #172466;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b68c10;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #111942;
  color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  color: #111942;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.hero-img {
  width: 800px;
  height: auto;
  position: absolute;
  right: -10%;
  bottom: 25%;
  /* object-fit: cover; */
  /* object-position: 0 10%; */
  border-radius: 15px;
  box-shadow: 0 20px 30px 0 rgba(200, 200, 200, 0.07);
}

/* Feature */
.section-feature {
  padding: 9.6rem 0;
  background-color: #111942;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.fea-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #909ee6;
  margin-bottom: 1.2rem;
}

.fea-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.fea-img-box::before,
.fea-img-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.fea-img {
  width: 100%;
  box-shadow: 0 20px 30px 0 rgba(200, 200, 200, 0.07);
}

/* FAQ */
.section-faq {
  padding: 9.6rem 0;

  width: 700px;
  margin: 0 auto;

  color: #ced4da;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-header-container {
  display: flex;
  align-items: center;
}

.arrow-icon {
  width: 24px;
  height: 24px;
}

.item-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  border-top: 0.25px solid #828899;
  border-bottom: 0.25px solid #828899;
}

.item {
  font-size: 16px;
  padding: 12px;
  border-top: 0.25px solid #828899;
  border-bottom: 0.25px solid #828899;
  transition: all 0.3s ease-in-out;
}

.item.open {
  border-left: 6px solid #94aefa;
}

.item .hidden-box {
  display: none;
}

.open .hidden-box {
  display: block;
}

.open .arrow-icon {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.hidden .arrow-icon {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.title-faq {
  color: #868e96;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 32px;
}

.item:hover {
  cursor: pointer;
}

.title-faq:hover {
  color: #fff;
  cursor: pointer;
}

.item:hover .title-faq {
  color: #fff;
  cursor: pointer;
}

.open .title-faq {
  color: #dbe4ff;
}

.hidden-box {
  padding: 12px;
  margin-left: 40px;
  line-height: 1.6;
}

/* CTA section */
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 2fr 1fr; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #f5d880, #fcc419);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
}

.cta-text-box {
  /* display: flex; */
  margin-top: 50px;
}

.btn.btn-footer:link,
.btn.btn-footer:visited {
  margin-bottom: 50px;
  color: #fff;
  background-color: #4b3906;
}

.btn.btn-footer:hover,
.btn.btn-footer:active {
  margin-bottom: 50px;
  color: #4b3906;
  background-color: #fff;
}

.member-heading {
  color: #4b3906;
  margin-bottom: 50px;
}

/* FOOTER */
.footer {
  padding: 3rem 0;
  border-top: 1px solid #eee;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
